
<header class="main-header" id="header">
  <div class="bg-color">
    <!--nav-->
    <nav class="nav navbar-default navbar-fixed-top">
      <div class="container">
        <div class="col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
              <span class="fa fa-bars"></span>
            </button>
            <a href="index.html" class="navbar-brand">IWin</a>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="mynavbar">
            <ul class="nav navbar-nav">
              <li><a href="moduloAdministrador">Regresar</a></li>
              <button type="submit" class="btn btn-submit">Cerrar Sesion</button>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!--/ nav-->
    <div class="container text-center">
      <div>
        <h4 class="sub-title">Sanción Colectiva</h4>
      </div>
    </div>
  </div>
</header>
<ul class="menuAdmin">
  <li> <a data-toggle="tab" href="registrarJugador/{{idEquipo}}"> Registrar</a> </li>
  <li> <a data-toggle="tab" href="eliminarJugador/{{idEquipo}}"> Eliminar</a> </li>
  <li> <a data-toggle="tab" href="modificarJugador/{{idEquipo}}"> Modificar</a> </li>
  <li class="active"> <a data-toggle="tab" href="listarJugador/{{idEquipo}}"> Listar</a> </li>
</ul>



<p *ngIf="!jugadores"><em>Loading...</em></p>
<div *ngIf="jugadores">

  <div class="tabla" style="align-content:center">
    <table id="example" class="table table-striped table-bordered">
      <tr>

        <th>Identificación</th>
        <th>Nombre</th>
        <th>Fecha Nacimiento</th>

      </tr>
      <tbody>
        <tr *ngFor="let jugador of jugadores">
          <td style="vertical-align:middle">{{ jugador.identificacion}}</td>
          <td style="vertical-align:middle">{{ jugador.nombre}} {{ jugador.apellidos}}</td>
          <td style="vertical-align:middle">{{ jugador.fechaNacimiento | date:'dd/MM/yyyy hh:mm'}}</td>
        </tr>
      </tbody>
    </table>




  </div>









  <div class="grid-container" *ngFor="">



    <div class="item2"><img width="100" height="100" src="https://previews.123rf.com/images/tnn103eda/tnn103eda1703/tnn103eda170300007/73489700-jugador-de-f%C3%BAtbol-profesional-de-f%C3%BAtbol-en-acci%C3%B3n-aislado-fondo-blanco.jpg"></div>
    <div class="item3">
      <div>
        <h3>{{ jugador.identificacion}}</h3>
        <h4> {{ jugador.nombre}} {{ jugador.apellidos}}</h4>
        <h4>{{ jugador.fechaNacimiento}}</h4>
      </div>






    </div>



  </div>





